<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>ArcSwath</Name><AddInID>{ce13ddaa-e709-4a5c-b294-6a5d5b4774dd}</AddInID><Description>Creates swath profiles</Description><Version>1.1</Version><Image>Images\mini_tw_sru+ero1n25km.png</Image><Author>Niclas Blomqvist &amp; David Whipp</Author><Company>University of Helsinki</Company><Date>06/10/2015</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="ArcSwath_addin.py" namespace="ArcSwath_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Input raster" category="ArcSwath" class="ComboBoxClass5" id="SP3_addin.combobox" itemSizeString="WWWWWW" message="Choose a raster layer from the list of active layers" rows="4" sizeString="WWWWWW" tip="Select raster layer"><Help heading="" /></ComboBox>
        <ComboBox caption="Input points" category="ArcSwath" class="ComboBoxClass39" id="SP3_addin.combobox_4" itemSizeString="WWWWWW" message="Choose a point layer from the list of active layers" rows="4" sizeString="WWWWWW" tip="Select point layer"><Help heading="" /></ComboBox>
        <ComboBox caption="Point Feature" category="ArcSwath" class="ComboBoxClass3" id="SP3_addin.combobox_5" itemSizeString="WWWWWW" message="Select a feature" rows="4" sizeString="WWWWWW" tip="Select a feature to be plotted from attribute table"><Help heading="" /></ComboBox>
        <ComboBox caption="Plot" category="ArcSwath" class="ComboBoxClass6" id="SP3_addin.combobox_1" itemSizeString="WWWWWW" message="Choose an option for the data to display in a plot window. Points will only plot the point layer, Raster will only plot the raster swath, Raster+Points will plot both. If no plot display is desired, select None. Regardless, csv data files will be produced." rows="4" sizeString="WWWWWW" tip="Select data to plot"><Help heading="" /></ComboBox>
        <Tool caption="Point 1" category="ArcSwath" class="ToolClass2" id="SP3_addin.tool" image="" message="Click on the map window to select the starting point for the swath" tip="Select starting point"><Help heading="" /></Tool>
        <Tool caption="Point 2" category="ArcSwath" class="ToolClass4" id="SP3_addin.tool_1" image="" message="Click on the map window to select the ending point for the swath" tip="Select ending point"><Help heading="" /></Tool>
        <ComboBox caption="Swath width" category="ArcSwath" class="ComboBoxClass7" id="SP3_addin.combobox_2" itemSizeString="WWWWWW" message="Either select or type in the desired swath width. Note: This is the full width of the swath." rows="4" sizeString="WWWWWW" tip="Enter swath width"><Help heading="" /></ComboBox>
        <ComboBox caption="Increment" category="ArcSwath" class="ComboBoxClass8" id="SP3_addin.combobox_3" itemSizeString="WWWWWW" message="Select or type in the desired distance increment along the swath for plot calculations. This option does nothing for point data." rows="4" sizeString="WWWWWW" tip="Enter swath distance increment"><Help heading="" /></ComboBox>
        <Button caption="Calculate" category="ArcSwath" class="ButtonClass9" id="SP3_addin.button" image="" message="" tip="Make it go!"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Swath profile" category="ArcSwath" id="SP3_addin.toolbar" showInitially="true"><Items><ComboBox refID="SP3_addin.combobox" /><ComboBox refID="SP3_addin.combobox_4" /><ComboBox refID="SP3_addin.combobox_5" /><ComboBox refID="SP3_addin.combobox_1" /><Tool refID="SP3_addin.tool" /><Tool refID="SP3_addin.tool_1" /><ComboBox refID="SP3_addin.combobox_2" /><ComboBox refID="SP3_addin.combobox_3" /><Button refID="SP3_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>